* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #dda654;
    color: #dda654;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo {
    text-decoration: none;
    color: #F5EBDC;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #522214;
}

nav {
    display: flex;
    gap: 30px;
}


nav a {
    text-decoration: none;
    background-color: #FF8630;
    border-radius: 30px;
    padding: 10px 18px;
    color: #F5EBDC;
}

nav a:hover {
    background-color: #F5EBDC;
    color: #522214;
}

.position {
    position: absolute;
    background-color: #E45044;
    display: none;
    padding: 5px;
    border-radius: 50%;
}

.sales {
    background-color: #992918;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 100px 25px auto 25px;
    padding: 75px 20px 75px 20px;
    border-radius: 50px;
}

.sales .left img {
    width: 750px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.right h2 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 100px;
}

mark {
    background-color: #FF8630;
    color: #522214;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.sales h3 {
    text-align: center;
    font-size: 35px;
    margin: 50px auto 20px auto;
}

.pepsi-sale,
.french-fries-sale,
.burger-sale{
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

#menu-item {
    margin: 50px;
    border-radius: 30px;
    background-color: #992918;

}

.menu-title{
    text-align:center;
    font-size:42px;
}

.menu {
    margin: 50px;
    border-radius: 30px;
    background-color: #992918;

}

.menu .burger {
    text-align: center;
    margin-top: 50px;
}

input[type="checkbox"] {
    display: none;
}

.popup-burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

#burger:checked~.popup-burger {
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content-burger {
    position: relative;
    background: #E45044;
    padding: 100px 100px;
    border-radius: 40px;
    width: 300px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
}

.menu .burgerlabel{
    padding-left: 100px;
}


footer {
    background-color: #522214;
    color: #FF8630;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-bottom: #992918 solid 2px;
    padding: 30px;
}

.footer-section h3 {
    font-weight: 600;
    font-size: 28px;
}

.footer-container {
    padding-top: 25px;
    padding-bottom: 10px;
    color: grey;
    font-size: 15px;
}

.footer-content .social-media{
    margin: 5px 0;
    font-size: 18px;
    gap:15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 100px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100px;
}
.fa-instagram {
    background:linear-gradient(45deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);
    color: white;
    border-radius: 100px;

}
