* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(207, 158, 95);
    color: #E9B48A;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2A1713;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    background-color: #5C352C;
    border-radius: 30px;
    padding: 10px 15px;
    color: #E9B48A;
}

nav a:hover {
    background-color: #E9B48A;
    color: #2A1713;
}

.hello {
    background-color: #956959;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin: 50px 0 0 0;
    color: #2A1713;
}

.hello h1{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1px;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5),
     -5px -5px 20px rgba(255, 255, 255, 0.2);
}

.hello p{
    font-size: 26px;
    font-weight: 500;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 0.5),
     -2px -2px 10px rgba(255, 255, 255, 0.2);
}

.hello div{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.hello a{
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #2A1713;
    color: #E9B48A;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 10px 30px rgba(66, 66, 66, 0.5);
}

.hello a:hover{
    background-color: #5C352C;
    color: #E9B48A;
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(69, 69, 70, 0.5);
}

.menu {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(25, 1fr);
    text-align: center;
    gap: 20px;
    padding: 50px 20px 50px 20px;
    background-color: #5C352C;
    grid-column-gap:10px;
}

.menu-header{
    grid-area:1/4/2/7;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;;
}


.menu-item1{
    grid-area: 2/2/4/5;
    align-self: center;
    background-color: #956959;
    padding: 60px 10px 60px 10px;
    border-radius: 20px;
    align-items: center;
    text-decoration: none;
    color:#E9B48A;

}
.menu-item1 img{
    width: 300px;
    height: auto;
    border-radius: 15px;
}
.text{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 26px;
    margin:0;
}
.menu-item3{
    grid-area: 2/6/4/9;
    align-self:center;
    padding: 60px 10px 60px 10px;
    background-color: #956959;
    border-radius: 20px;
    align-items: center;
    text-decoration: none;
    color:#E9B48A;
}
.menu-item3 img{
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.menu-item5{
    grid-area: 9/2/10/3;
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item6{
    grid-area: 9/4/10/6;
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item7{
    grid-area: 11/2/13/3;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}   
.menu-item8{
    grid-area: 11/4/13/6;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}   
.menu-item9{
    grid-area: 14/2/16/3;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item10{
    grid-area: 14/4/16/6;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item11{
    grid-area: 17/2/19/3;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item12{
    grid-area: 17/4/19/6;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item13{
    grid-area: 20/2/22/3;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item14{
    grid-area: 20/4/22/6;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item15{
    grid-area: 23/2/25/3;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}
.menu-item16{
    grid-area: 23/4/25/6;            
    background-color: #956959;
    padding: 20px;
    border-radius: 20px;
}


footer {
    background-color: #2A1713;
    color: #E9B48A;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
