* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width:none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #E9B48A;
    color: #E9B48A;
    line-height: 1.6;
}

.logo {
    text-decoration: none;
    color: #E9B48A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2A1713;

}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    background-color: #5C352C;
    border-radius: 30px;
    padding: 10px 15px;
    color: #E9B48A;
}

nav a:hover {
    background-color: #E9B48A;
    color: #2A1713;
}

.hello {
    background-color: #956959;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin: 50px 0 0 0;
    color: #2A1713;
}

.hello h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1px;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5),
        -5px -5px 20px rgba(255, 255, 255, 0.2);
}

.hello p {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5),
        -2px -2px 10px rgba(255, 255, 255, 0.2);
}

.hello div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.hello a {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #2A1713;
    color: #E9B48A;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 10px 30px rgba(66, 66, 66, 0.5);
}

.hello a:hover {
    background-color: #5C352C;
    color: #E9B48A;
    transform: translateY(-2px);
    box-shadow: 10px 15px 40px rgba(50, 40, 40, 0.5);
}

.menu {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    text-align: center;
    padding-bottom: 100px;
    background-color: #5C352C;
    grid-column-gap: 10px;
}

.menu-header {
    grid-area: 1/4/2/7;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    align-self: center;
}

.menu-fast-food {
    grid-area: 2/2/4/5;
}

.foto {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(66, 66, 66, 0.5);

}

.text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 26px;
    margin: 0;
}

.menu-sushi {
    grid-area: 2/6/4/9;
}

.menu-salad {
    grid-area: 4/2/7/5;
}

.menu-gourmet-starters {
    grid-area: 4/6/7/9;
}

.menu-dessert {
    grid-area: 7/2/9/5;
}

.menu-cocktails {
    grid-area: 7/6/9/9;
}
#sector{
    align-self: center;
    background-color: #956959;
    padding: 60px 10px 60px 10px;
    border-radius: 60px;
    align-items: center;
    text-decoration: none;
    color: #E9B48A;
}
#sector:hover{
    background-color: #E9B48A;
    color: #2A1713;
    transform: translatey(-5px);
    box-shadow: 0 15px 40px rgba(69, 69, 70, 0.5);
}

@media screen and (max-width: 960px) {
    .menu {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;
    }

    #sector{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-end: auto;
        margin-bottom: 20px;
        padding: 40px 10px 40px 10px;
    }

    .foto {
        width: 80%;
        height: auto;
        border-radius: 20px;
    }

    .menu-header {
        grid-area: 1/2/2/3;
    }
}


footer {
    background-color: #2A1713;
    color: #E9B48A;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-bottom: #5C352C solid 2px;
    padding: 30px;
}

.footer-section h3 {
    font-weight: 600;
    font-size: 28px;
}

.footer-container {
    padding-top: 25px;
    padding-bottom: 10px;
    color: grey;
    font-size: 15px;
}

.footer-content .social-media{
    margin: 5px 0;
    font-size: 18px;
    gap:15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 100px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100px;
}
.fa-instagram {
    background: linear-gradient(45deg,#ffdf9e,#ffc273,#e56969,#c1558b,#8a49a1);
    color: white;
    border-radius: 100px;
}