:root{
    --page-bg-color: #FAF4EB;
    --page-bg-light: #FFFBF5;
    --text-color: #2F241F;
    --hover-nav:#C65A3E;
    --underheader:#4A3A36;
    --button-bg:#C65A3E;
    --button-text-bg-color: #FFFFFF;
    --button-text-hover-bg-color: #B04930;
    --card-border-bg-color:#E9E3DA;
    --card-title:#2F241F;
    --card-text:#6B5A55;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--page-bg-color);
    color: var(--text-color);
}

/* NAVBAR */
.navbar{
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.navbar nav a{
    margin-left: 35px;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s;
}

.navbar nav a:hover{
    color: var(--hover-nav);
}

/* HERO SECTION */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
}

.hero-text h1{
    font-size: 64px;
    line-height: 1.1;
    margin: 50px 0;
}

.btn-primary{
    background: var(--button-bg);
    padding: 14px 28px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
    color: var(--button-text-bg-color);
}


.btn-primary:hover{
    background: var(--button-text-hover-bg-color);
}

.hero-img img{
    width: 450px;
    height: auto;
    scale:1.2;
    margin-right:25px;
    border-radius: 50%;
    object-fit: cover;
    background: none;
}

.menu-section{
    padding: 40px 8%;
    background-color: var(--page-bg-light);
}

.menu-section h2{
    font-size: 36px;
    margin-bottom: 30px;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card{
    background: white;
    border: 1px solid var(--card-border-bg-color);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2), -5px -3px 10px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h3{
    color: var(--card-title);
    font-size: 22px;
    margin: 15px 15px 5px;
}

.card p{
    color: var(--card-text);
    margin: 0 15px 10px;
}

/* INFO SECTION */
.info-section{
    background-color: var(--page-bg-light);
    padding: 50px 8%;
    display: flex;
    justify-content: space-between;
}

.info-section h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.info-section p{
    max-width: 400px;
    line-height: 1.6;
}

@media (max-width: 1024px) {

    .navbar {
        padding: 25px 5%;
    }

    .navbar nav a {
        margin-left: 25px;
        font-size: 17px;
    }

    .hero {
        padding: 40px 5%;
        gap: 40px;
    }

    .hero-text h1 {
        font-size: 52px;
    }

    .hero-img img {
        width: 320px;
    }

    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .menu-card {
        width: 100%;
        max-width: 4500px;
    }

    .card {
        width: 85%;
        margin-bottom: 20px;
    }

    .info-section {
        padding: 50px 5%;
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }

    nav a {
        margin: 0 15px;
        font-size: 16px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
    }

    .hero-text h1 {
        font-size: 42px;
    }

    .btn-primary {
        margin-top: 20px;
        font-size: 16px;
        padding: 12px 22px;
    }

    .hero-img img {
        width: 280px;
        margin-top: 25px;
    }

    .menu-section h2 {
        font-size: 32px;
        text-align: center;
    }

    .menu-grid {
        grid-template-columns: 1fr;

    }

    .card {
        width: 100%;
    }

    .info-section {
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }

    .info-section p {
        margin: 0 auto;
    }
}


@media (max-width: 480px) {

    .hero-text h1 {
        font-size: 34px;
        line-height: 1.2;
    }

    nav a {
        font-size: 15px;
    }

    .card h3 {
        font-size: 20px;
    }
}
